.stout {
    text-align: center;

    @media (min-width: 577px) and (max-width: 768px) {
    text-align: center;
    }
}

.preferidas {
    display: flex;

    @media (min-width: 577px) and (max-width: 768px) {
    display: flex;
    }
}

.contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (min-width: 577px) and (max-width: 768px) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
    .elemento {
        width: 250px;
        height: 350px;
        margin-right: 20px;
    }
    }
}
